/*
        body{
            background: red;
        }
*/
h1 {
    color: green;
    margin-left: 30px;
}

span {
    background: blue;
    color: yellow;
}


#p1{background: }
#p2{background: }
#p3{background: }
#p4{background: }