/*Pág Mesa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jogador {
    width: 50%;
    float: left;
}

.dado {
    width: 40px;
    height: 40px;
    /*            background: red;*/
    margin: 120px auto 30px auto;
}

.dado img {
    width: 100%;

}

.nick {
    margin: 30px;

}

a {
    text-decoration: none;
}

a .nick {


    overflow: hidden;
    /*    padding: 20px 0px;*/
}

.btn-all-jogo {
    /*    margin: 20px 30px;*/
    clear: both;
    padding: 10px 0 0 0;
}

.titulo {
    margin: 10px;
    text-align: center;

}


form {
    width: 50%;
    margin: 100px auto 0 auto;
    /*            border: 1px solid #000;*/
    padding: 50px;
}

form[type="input"] {
    height: 30px;
}

.label {
    width: 100%;
    float: left;
    display: block;
}

input[type=text] {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    height: 31px;
}

.caixa {
    width: 100%;
    margin: 10px 0;
}

.caixaJogadores {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

input[type=checkbox] {
    margin: 0 5px;
}

select {
    width: 100%;
}

#jogar1,
#jogar2 {
    width: 60%;
    /*    temargin: 0 auto;*/
}

/*
        button{
            float: right;
        }
*/
.escolha-mesa {
    border: 2px losid black;
    padding: 20px 10px;
    background: #f4f4f4;
}

button {
    padding: 10px;
    border: 0;
    width: 100%;
}

.btn-abrir-modal {
    padding: 10px;
    border: 0;
    width: 100%;
    background: #f4f4f4;

    text-align: center;
    margin: 20px 0;

}

.btn-abrir-modal a {
    color: black;
}

button:disabled {
    background: #f4f4f4;
}

.jogadoresCaixa {
    padding: 10px;
    background: #f4f4f4;
}

.tituloCadastro {
    background: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 40px 10px 10px 10px;

}

.mesa {
    /*            background-image: url(img/mesa.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    margin: 50px auto 0 auto;
    border: 2px solid #000;
    text-align: center;
    padding: 50px;
    border-radius: 40px;
}

.vencedor {
    text-align: center;
    margin: 30px 0px;
}

.nick {
    font-size: 40px;
    color: white;
}

#placar1,
#placar2 {
    font-size: 40px;
    color: white;
}

.jogador p a {
    cursor: pointer;
}

.tituloMesa {
    background: #f4f4f4;
    width: 60%;
    text-align: center;
    padding: 40px 10px 10px 10px;
    margin: 0 auto;
}

.caixaCinza {
    background: #f4f4f4;
    width: 60%;
    margin: 50px auto 0 auto;
}

.card {
    width: 50%;
    float: left;
    text-align: center;
}

.row {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
    margin-bottom: 10px;
}

.texto {
    text-align: center;
    width: 100%;
    background: #f4f4f4;
}

.modalDialog {
    width: 100%;
    position: fixed;
    top: 0;
    rigth: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: scroll;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 150px auto;
    padding: 60px;
    border-radius: 10px;
    background: #fff;
}

.close {
    color: #000;
    text-align: center;
    text-decoration: none;
    float: right;
}
